@using EntityLayer.Concrete
@model List<ServiceSection>
@{
    double latecy = 0.0;
}

<div class="service" id="service">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Ne Yapıyorum ?</p>
            <h2>Muhteşem Hizmetler</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="(@latecy)s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="@item.ServiceSectionIconUrl"></i>
                        </div>
                        <div class="service-text">
                            <h3>@item.ServiceName</h3>
                            <p>
                                @item.ServiceDescription
                            </p>
                        </div>
                    </div>
                </div>
                latecy += 0.2;
            }

        </div>
    </div>
</div>