@model EntityLayer.Concrete.HomeSection

@{
    ViewData["Title"] = "AddHomeSection";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Bilgi Ekle</title>
    <link rel="stylesheet" href="~/css/form/formcss.css" />
</head>
<body>
    <div class="form-container">
        <h2 style=" text-align: center;">Kişisel Bilgi Ekle</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="skillName">İsmin</label>
                <input type="text" id="skillName" placeholder="İsmin" asp-for="Name" required>
            </div>
            <div class="form-group">
                <label for="skillName">Mailin</label>
                <input type="text" id="skillName" placeholder="Mailin" asp-for="Mail" required>
            </div>
            <div class="form-group">
                <label for="skillName">Telefonun</label>
                <input type="text" id="skillName" placeholder="Telefonun" asp-for="Phone" required>
            </div>
            <div class="form-group">
                <label for="skillName">Adresin</label>
                <input type="text" id="skillName" placeholder="Adresin" asp-for="Address" required>
            </div>
            <button type="submit" class="btn btn-outline-info">Kaydet</button>
            <a href="/Admin/AdminPanelMainPage/" class="btn btn-outline-danger">İptal</a>
        </form>
    </div>
</body>
</html>

