@model MyPortfolio.Models.AddPortfolioSectionViewModel

@{
    ViewData["Title"] = "AddPortfolioSection";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proje Ekle</title>
    <link rel="stylesheet" href="~/css/form/formcss.css" />
</head>
<body>
    <div class="form-container">
        <h2 style="text-align: center;">Proje Ekle</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Proje İsmi</label>
                <input type="text" id="title" name="PortfolioSection.Title" placeholder="Proje İsmi" asp-for="PortfolioSection.Title" required />
            </div>
            <div class="form-group">
                <label for="description">Proje Açıklaması:</label>
                <textarea id="description" name="PortfolioSection.Description" placeholder="Açıklama yaz" rows="4" asp-for="PortfolioSection.Description" required></textarea>
            </div>
            <div class="form-group">
                <label for="projectPicture">Proje Resmi (Kaynak URL Giriniz !)</label>
                <input type="text" id="projectPicture" name="PortfolioSection.ProjectPicture" placeholder="Proje Resmi" asp-for="PortfolioSection.ProjectPicture" required />
            </div>
            <div class="form-group">
                <label for="category">Kategori</label>
                @Html.DropDownListFor(model => model.SelectedCategory, new SelectList(Model.Categories, "Value", "Text"), "Seçiniz", new { @class = "form-control", id = "category" })
            </div>

            <button type="submit" class="btn btn-outline-info">Kaydet</button>
            <a href="/Admin/PortfolioSection/" class="btn btn-outline-danger">İptal</a>
        </form>
    </div>
</body>
</html>
