@model EntityLayer.Concrete.PortfolioCategory
@{
    ViewData["Title"] = "UpdatePortfolioCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOYUM</title>
    <link rel="stylesheet" href="~/css/form/formcss.css" />
</head>
<body>
    <div class="form-container">
        <h2 style=" text-align: center;">Kategori Güncelle</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                @Html.HiddenFor(x => x.PortfolioCategoryID)
                <label for="skillName">Kategori İsmi</label>
                <input type="text" id="skillName" placeholder="Kategori İsmi" asp-for="CategoryName" required>
            </div>
            <button type="submit" class="btn btn-outline-info">Kaydet</button>
            <a href="/Admin/ServiceSection/" class="btn btn-outline-danger">İptal</a>
        </form>
    </div>
</body>
</html>

